App/build
App/Pods
App/output
build/
fastlane/report.xml
fastlane/README.md
vendor/bundle/
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml
